// typography
@mixin text-simple {
    font-family: 'GothamProMedium', sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin normal-font-size {
    font-size: 16px;
    line-height: 24px;
}
  
  @mixin _991 {
    @media (max-width: 991px) {
      @content;
    }
  }
  
  @mixin _767 {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin _575 {
    @media (max-width: 575px) {
      @content;
    }
  }
  
  @mixin _480 {
    @media (max-width: 480px) {
      @content;
    }
  }
  
  @mixin _380 {
    @media (max-width: 380px) {
      @content;
    }
  }
  
  