$black700: #252934;
$white: #fff;
$darkTurquoise: #00CED1;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-envelop: "\e945";
$icon-clock: "\e94e";
$icon-mobile: "\e958";
$icon-smile: "\e9e1";
$icon-point-up: "\ea03";
$icon-telegram: "\ea95";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
