$black700: #252934;
$white: #fff;
$darkTurquoise: #00CED1;
$lightGray: #f5f5f5;
$gray: #c0c0c0;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-envelop: "\e945";
$icon-clock: "\e94e";
$icon-mobile: "\e958";
$icon-menu: "\e9bd";
$icon-smile: "\e9e1";
$icon-point-up: "\ea03";
$icon-cross: "\ea0f";
$icon-arrow-up: "\ea32";
$icon-telegram: "\ea95";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
$icon-html-five2: "\eae5";

